<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSocks2SoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/socks-web/soap/testservice"
                binding="basicHttpBinding" bindingConfiguration="ServiceSocks2SoapBinding"
                contract="SocksServise.ServiceSocks2" name="SocksServiseImpl2Port" />
        </client>
    </system.serviceModel>
</configuration>